[submodule "third_party/testing/Expecta"]
	path = third_party/testing/Expecta
	url = https://github.com/Lightricks/expecta.git
[submodule "third_party/testing/Specta"]
	path = third_party/testing/Specta
	url = https://github.com/Lightricks/specta.git
[submodule "third_party/utils/libextobjc"]
	path = third_party/utils/libextobjc
	url = https://github.com/Lightricks/libextobjc.git
[submodule "third_party/testing/OCMock"]
	path = third_party/testing/OCMock
	url = https://github.com/Lightricks/ocmock.git
[submodule "xcconfigs"]
	path = xcconfigs
	url = https://github.com/Lightricks/xcconfigs.git
