[submodule "third_party/testing/Expecta"]
	path = third_party/testing/Expecta
	url = https://github.com/Lightricks/expecta.git
[submodule "third_party/testing/Specta"]
	path = third_party/testing/Specta
	url = https://github.com/Lightricks/specta.git
[submodule "third_party/utils/libextobjc"]
	path = third_party/utils/libextobjc
	url = https://github.com/Lightricks/libextobjc.git
[submodule "third_party/testing/OCMock"]
	path = third_party/testing/OCMock
	url = https://github.com/Lightricks/ocmock.git
[submodule "Configuration"]
	path = Configuration
	url = https://github.com/Lightricks/Configuration.git
[submodule "third_party/utils/Mantle"]
	path = third_party/utils/Mantle
	url = https://github.com/Lightricks/Mantle.git
[submodule "third_party/LLReactiveMatchers"]
	path = third_party/LLReactiveMatchers
	url = https://github.com/Lightricks/LLReactiveMatchers.git
	branch = develop
[submodule "third_party/ReactiveCocoa"]
	path = third_party/ReactiveCocoa
	url = https://github.com/Lightricks/ReactiveCocoa.git
[submodule "third_party/dropbox-ios-sdk"]
	path = third_party/dropbox-ios-sdk
	url = https://github.com/Lightricks/dropbox-ios-sdk.git
[submodule "third_party/Masonry"]
	path = third_party/Masonry
	url = https://github.com/Lightricks/Masonry.git
